*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}

body{
    background-color:rgb(4, 1, 57);
    color:#fff;
    font-family:"Poppins MS",sans-serif;
}


.container{
    display:flex;
    align-items:center;
    justify-content:center;
    width:100%;
    height:100vh;
}

form{
    border:2px solid white;
    padding:10px;
    border-radius:10px;
    box-shadow:0 0 10px white;
    text-align:center;
    width:250px;
    height:300px;
}

h4{ 
    padding:10px;
    font-size:28px;
    font-weight:bold;
}

input{
    padding:13px;
    width:100%;
    margin-top:15px;
    border:none;
    outline:none;
    border-radius:10px;
}

::placeholder{
    color:#000;
}

input:focus{
    border:none;
    outline:none;
}

button{
    padding:10px;
    width:100%;
    margin-top:30px;
    font-size:25px;
    font-weight:bold;
    background-color:green;
    color:#fff;
    border:none;
    outline:none;
    border-radius:15px;
    cursor: pointer;
    transition:0.4s;
}

button:hover{
    scale:1.01;
}

.icon{
    position:absolute;
    margin-left:190px;
    margin-top:-30px;
}

.icon i{
    color:#000;
    font-size:22px;
}